<!DOCTYPE html>
<html>
<head>
  <title>Welcome To Himalayan Airlines Online Ticketing</title>
  <%= stylesheet_link_tag    'ticket_search', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ticket_search', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>